#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: juansanchez
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDQ2faX3emnYANBzm7UqbaYQSCXuAMJRcCLoTtpOBeP7hcWN8wMZjAmEND666orf/cpH/qoXnaPpn3zdHLH+p+ctr138fmrAaPDSkCFWlca8C8zk88PDSI8axOCoUQ/5IqX8b8n0cwD/Msll/pDMoBulmCQBl6nxEqoDMLEsod6Qo1E9xNo68FLFZX15d4ffMuNzXtTG1x8IjHrCaTgkK1uYCdH7b5MblPqUKjyT2E2XEVb0zdEfVSNACTe20/UxoNoovL43ZRJE7N4mYZN8RWv6C6hqPCw4stlxyH7aZv5AYWdomlmVms4dwrTZ1vRvVO7KPKc9U1fD+CB7on24NYepSySR2N9hLDIURpwna3nBFawvwMWwT0drG8ZR01Pr7OCcjKEcgsLJGkm4HlBrgz4TDqw6PROxGMAo6V0Ivb2dYNa6w4NyFOX0yP1op94QPfTrGH4nrLC4u4oxJYwLVFje1rLY2EjVmGb90pqvDB0Pf2lUr5T0n1ykA8UQ/DjKoc= juansanchez@server03
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
